@font-face {
  font-family: 'Myriad-Pro';
  src: url('myriad_pro/regular/Myriad-Pro.eot');
  src: url('myriad_pro/regular/Myriad-Pro.woff2') format('woff2'),
       url('myriad_pro/regular/Myriad-Pro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('myriad_pro/regular/MyriadPro-Regular.woff') format('woff'),
       url('myriad_pro/regular/MyriadPro-Regular.ttf') format('truetype'),
       url('myriad_pro/regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Myriad-Pro-Semibold';
  src: url('myriad_pro/semi-bold/Myriad-Pro-Semibold.eot');
  src: url('myriad_pro/semi-bold/Myriad-Pro-Semibold.woff2') format('woff2'),
       url('myriad_pro/semi-bold/Myriad-Pro-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('myriad_pro/semi-bold/MyriadPro-Semibold.woff') format('woff'),
       url('myriad_pro/semi-bold/MyriadPro-Semibold.ttf') format('truetype'),
       url('myriad_pro/semi-bold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Myriad-Pro-Light';
  src: url('myriad_pro/light/Myriad-Pro-Light.eot');
  src: url('myriad_pro/light/Myriad-Pro-Light.woff2') format('woff2'),
       url('myriad_pro/light/Myriad-Pro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('myriad_pro/light/MyriadPro-Light.woff') format('woff'),
       url('myriad_pro/light/MyriadPro-Light.ttf') format('truetype'),
       url('myriad_pro/light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

